<ul class="list-group list-group-flush">
    {{#each comments}}
        <li class="list-group-item">
            <div class="comment"> 
                <!--<span {{#if finalizada}}class="finalizada"{{/if}} >{{titulo}}</span> |
                <a href="comentarios/{{id_comentario}}/">Ver mas</a>-->
                <a href="update/{{id_comentario}}/">Actualizar</a>
                <a href="delete/{{id_comentario}}/">Borrar</a>
            </div>
        </li>
    {{/each}}
</ul>
